---
import type { CollectionEntry } from "astro:content"
import { getEntryBySlug } from "astro:content"

interface Props {
  recipe: CollectionEntry<"recipes">
}

const { recipe } = Astro.props
const entry = await getEntryBySlug("recipes", recipe.slug)
const { Content } = await entry.render()
---

<div id={recipe.slug} class="scroll-my-6">
  <h2 class="mb-3 border-b border-gray-800 pb-1 text-lg font-bold">
    {recipe.data.title}
  </h2>
  <ol class="mb-3 list-inside list-disc space-y-1">
    {recipe.data.amountOfWater && <li>{recipe.data.amountOfWater}ml Wasser</li>}
    {
      recipe.data.waterTemperature && (
        <li>Wassertemperatur: {recipe.data.waterTemperature}</li>
      )
    }
    <li>{recipe.data.caffeineWeight} {recipe.data.caffeineSource}</li>
    {recipe.data.grind && <li>Mahlgrad: {recipe.data.grind}</li>}
    {recipe.data.additionalStuff && <li>{recipe.data.additionalStuff}</li>}
    {recipe.data.brewTime && <li>{recipe.data.brewTime}min Brühzeit</li>}
  </ol>
  <Content />
</div>
